doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/clock.js")
    link(rel'stylesheet', href="/slick/slick.css")
    link(rel="stylesheet"  href="/slick/slick-theme.css")
  body(onload="updateClock(); setInterval('updateClock()', 1000 )")
    block content

    script( src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="/slick/slick.min.js")
    script(src="/javascripts/slider.js")

